@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá,
    </h1>
     <h3 class="">Sejá bem vindo ao nosso centro de cadastros Stefanini
    </h3>
    <hr />
    <div>
         <span class="tutorial">Primeiro passo, criar sua cidade para adicionarmos ao nosso banco de dados:
         </span>
         <br />
         <a href="https://localhost:7070/Cidades/Create">Cadastrar Cidade </a>.
    </div>
  
    <hr />
    <br />
    <div>
         <span class="tutorial">Segundo passo, após criar a cidade apenas é necessario selecionar o codigo Id da mesma na criação de Usuario/Pessoa:
         </span>
         <br />
         <a href="https://localhost:7070/Pessoas/Create">Cadastrar Cidadão </a>.
    </div>
    <hr />
    <br />
    <div class="d-flex">
        <div class="float-right col-6">
          <h2 class="tutorial">Acompanhar Usuarios</h2>
             <br />
          <h3><a href="https://localhost:7070/Pessoas/Index">Usuarios </a></h3>
        </div>
        <div class="float-left col-6">
          <h2 class="tutorial">Acompanhar Cidades</h2>
             <br />
          <h3><a href="https://localhost:7070/Cidades/Index">Cidades </a></h3>
        </div>
    
</div>
